<ion-footer>
  <ion-toolbar>
    <ion-title>   
    <button ion-button  item-end icon-left class="button-view" (click)="showPage('customerPage')">
      <ion-icon name="settings"> </ion-icon> MÉ ÚDAJE  
    </button>
     <button ion-button  item-end icon-left class="button-view" (click)="showPage('add-item')">
    <ion-icon name="heart"></ion-icon> KÁVOVARY   
    </button>
    <button ion-button  item-end icon-left class="button-view" > 
     <ion-icon name="cart"></ion-icon> PŘÍSLUŠENSTVÍ   
    </button>
       <button ion-button  item-end icon-left class="button-view" (click)="showPage('contact')">
      <ion-icon name="contact"></ion-icon> KONTAKT  
    </button>
</ion-title>  
  </ion-toolbar>
</ion-footer>