page-customer-delivery {

}
.item > p {
	height:22px; 
	margin-bottom:20px;
}
ion-card img{
	margin-bottom:15px;
}
.card{
	padding-bottom: 10px;
}
.radio-item{
	width:100%;
	float: left;
}
.radio-item > p{ 
	float:left;
	width:80%; 
}
.radio-item > p > span{
	    font-size: 0.75em;
}
ion-radio { 
	margin: 5px 8px 13px 0px;
	float:right;
}
.button-red{
	background-color:#CE000C!important;
} 